.home {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: white;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.home .left {
  flex: 0.5;
  overflow: hidden;
}

.home .left .imgContainer {
  width: 60vw;
  height: 110vh;
  background-color: crimson;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;

  @media (max-width: 768px) {
    align-items: flex-start;
  }
}

.home .left .imgContainer img {
  width: 90%;

  @media (max-width: 768px) {
    height: 50%;
  }
}

.home .right {
  flex: 0.5;
  position: relative;
}

.home .right .wrapper {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
    padding-left: 0;
    align-items: center;
  }
}

.home .right .wrapper h1 {
  font-size: 80px;
  margin: 5px 0 20px 0;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.home .right .wrapper h2 {
  font-size: 40px;
}

.home .right .wrapper h3 {
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.home .right .wrapper h3 .Typewriter {
  font-size: inherit;
  color: crimson;
  display: inline;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.home .right a img {
  width: 40px;
  height: auto;
  left: 40%;
  position: absolute;
  bottom: 20px;
  animation: arrowBlink 2s infinite;
}
